<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Small project using Flask, more on routes and static content">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, inital-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/normolize.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
	<title>Disappearing Ninjas Project</title>
</head>
<body>
	<h2>Disappearing Ninjas</h2>
	<p id="initial">No ninjas here!!!</p>
	<a href="/ninjas">Find all ninjas here</a>
	<a href="/ninjas/red">Ninja Turtle Raphael</a>
	<a href="/ninjas/blue">Ninja Turtle Leonardo</a>
	<a href="/ninjas/purple">Ninja Turtle Donatello</a>
	<a href="/ninjas/orange">Ninja Turtle Michelangelo</a>
	<a href="/ninjas/someotherthings">Some other ninjas???</a>
	<div id="result"></div>
</body>
</html>